
/build/ 
.gradle/ 


.idea/


local.properties
**/debug.keystore  # Arquivos da Keystore para deploy (use variáveis de ambiente!)

# Arquivos específicos do Android
/app/build/ 
*.apk
*.aab 

# Arquivos específicos do iOS
*.xcworkspace/ 
*.xcuserdata/
DerivedData/ 
build/ 
pods/
Podfile.lock